.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "card"
    "form";
}

.containerImages {
  grid-area: card;
}

.containerForm {
  grid-area: form;
  display: flex;
  justify-content: center;
}

.form {
  width: 327px;
  margin: 90px 0 45px;
}

.formInput {
  margin-bottom: 23px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputGroup {
  display: flex;
}

.inputGroup__gap9 {
  gap: 9px;
}

.inputGroup__gap12 {
  gap: 12px;
}

.backgroundImg {
  background: url("../../public/images/bg-main-mobile.png") center / contain
    no-repeat;
}

.containerPadding {
  padding: 33px 16px 0;
  height: 240px;
}

.containerCards {
  position: relative;
  width: 333px;
  height: 247px;
  margin: 0 auto;
}

.containerCards__cardBack,
.containerCards__cardFront {
  position: absolute;
  width: 286px;
  height: 158px;
}

.containerCards__cardBack {
  right: 0;
  background: url("../../public/images/bg-card-back.png") center / cover
    no-repeat;
}

.containerCards__cardBack__cvc {
  position: absolute;
  left: 225px;
  top: 70px;
  display: block;
}

.containerCards__cardFront {
  bottom: 0;
  padding: 17px 23px 21px 19px;
  border-radius: 7px;
  background: url("../../public/images/bg-card-front.png") center;
}

.containerCards__cardFront__circles {
  width: 58px;
  height: 32px;
  margin-bottom: 25px;
  background: url("../../public/images/card-logo.svg") center / contain
    no-repeat;
}

.containerCards__cardFront__numbers {
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.containerCards__cardFront__data {
  display: flex;
  justify-content: space-between;
}

.containerCards__cardBack__cvc,
.containerCards__cardFront__data {
  font-size: 10px;
  letter-spacing: 1px;
}

/* 
.backgroundImg {
  position: absolute;
  background-image: url("../../public/images/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 765px;
  min-width: 375px;
  height: 240px;
}

.containerCards {
  position: absolute;
  top: 33px;
  left: 16px;
  min-width: 333px;
  height: 247px;
}

.containerCards__cardBack {
  position: absolute;
  right: 0;
}

.containerCards__cardFront {
  position: absolute;
  bottom: 0;
}

.containerCards__cardFront__content {
  width: 286px;
  height: 158px;
  padding: 17px 23px 21px 19px;
  border-radius: 7px;
  background: center url("../../public/images/bg-card-front.png");
}

.containerCards__cardFront__content__circles {
  margin-bottom: 25px;
}

.containerCards__cardFront__content__numbers {
  margin-bottom: 20px;
}

.containerCards__cardFront__content__data {
  display: flex;
  justify-content: space-between;
}

.form{
    padding-top: 330px;
    width: 330px;
    height: 337px;
}
*/

@media screen and (min-width: 366px) {
  .backgroundImg {
    background-size: cover;
  }
}

@media screen and (min-width: 1240px) {
  .main {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "card  form";
  }

  .backgroundImg {
    width: 480px;
    height: 100vh;
    min-height: 900px;
    background: url("../../public/images/bg-main-desktop.png") center / cover
      no-repeat;
  }

  .containerForm {
    padding-top: 30px;
    align-items: center;
  }

  .form {
    width: 383px;
    margin: 0;
  }

  .containerPadding {
    max-height: 850px;
    min-height: 900px;
    padding-right: 0;
    padding-bottom: 190px;
  }

  .containerCards {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .containerCards__cardBack,
  .containerCards__cardFront {
    width: 448px;
    height: 246px;
    border-radius: 7px;
    box-shadow: 0 1px 6rem rgba(0, 0, 0, 0.2);
  }

  .containerCards__cardBack {
    bottom: 0;
    left: 190px;
  }

  .containerCards__cardBack__cvc {
    left: 370px;
    top: 113px;
  }

  .containerCards__cardFront {
    bottom: 280px;
    left: 110px;
    padding: 29px 34px 30px 32px;
  }

  .containerCards__cardFront__circles {
    width: 87px;
    height: 50px;
    margin-bottom: 70px;
  }

  .containerCards__cardFront__numbers {
    font-size: 28px;
  }

  .containerCards__cardBack__cvc,
  .containerCards__cardFront__data {
    font-size: 13px;
  }
}

@media screen and (min-width: 1440px) {
  .containerCards__cardBack {
    left: 230px;
  }

  .containerCards__cardFront {
    left: 150px;
  }
}
